* {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}

.container .header {
  grid-row: 1;
  grid-column: 1/-1;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  padding: 20px;
  
}

.container .header h1 {
  color: white;
  grid-column: 2;
}

.container .sidebar {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-row: 1/-1;
  grid-column: 1;
  background-color: bisque;
 

}
.container .sidebar .sidebar-title {
  justify-self: center;
  align-self: center;
}

.container .sidebar .sidebar-project-menu {
  display: flex;
  flex-direction: column;
  
  width: 100%;
  grid-row: 2;
  
  justify-self: center;
  gap: 40px;
  align-items: center;
 
}
.container .sidebar .sidebar-project-menu .sidebar-projects {
  display: grid;
  gap: 20px;

}
.container .sidebar .sidebar-project-menu .sidebar-projects div {
  width: 100%;
  display: grid;
  gap: 10px;
  align-items: center;
  justify-items: center;
  grid-template-columns: 4fr 1fr;
}

.container .sidebar .sidebar-project-menu .sidebar-projects button {
  grid-column: 1;
  background-color: rgb(0, 103, 199);
  border: none;
  color: white;
  font-weight: 700;
  font-size: 14px;
  border-radius: 20px;
  padding: 10px;
  width: 8em;
  justify-self: center;
  height: 3em;
 
  
}
.container .sidebar .sidebar-project-menu .sidebar-projects img {
  width: 2em;
}

.container .sidebar #sidebar-create-project-button,
.container .main-container > div button,
.container .main-container > div input[type="submit"]
 {
  background-color: rgb(21, 250, 174);
  border: none;
  color: white;
  font-weight: 700;
  font-size: 14px;
  border-radius: 20px;
  padding: 10px;
  width: 10em;
  justify-self: center;
  height: 3em;
  cursor: pointer;

}

.container .main-container {
  grid-row: 2;
  grid-column: 2;
  padding: 20px;
  display: grid;
  /* grid-template-rows: 1fr 10fr; */
  background-color: aliceblue;
}

.container .main-container .project {
  
  display: none;
  grid-template-rows: 1fr 3fr 3fr;
  grid-template-columns: 1fr 1fr; 
  background-color: aquamarine;
  border-radius: 20px;
  padding: 30px;
  gap: 20px;
}

.container .main-container .project h3 {
  
  grid-row: 1;
  grid-column: 1/2;
}


.container .main-container .project button {
  background-color: coral;
  grid-row: 1;
  grid-column: 2;


}
.container .main-container .project .todo-form-container {
  
  
  grid-row: 2;
  grid-column: 1/-1;
  /* display: grid; */
  /* grid-template-columns: repeat(3,calc(100%/3)); */
  /* gap: 20px; */

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
  border-radius: 10px;
    
    
}
.container .main-container .project .todo-form-container.active {
  
  transform: translate(-50%,-50%)scale(1);
       
}


.container .main-container .project .todo-header {
  display: flex;
  padding: 10px 15px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.container .main-container .project .todo-header .close-button {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  color: black;

}

.container .main-container .project .todo-header .todo-title{
 font-size: 1.25rem;
 font-weight: 700;

}

.container .main-container .project .todo-form-container {
 padding: 10px 15px;
}

#overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  pointer-events: none;
}
#overlay.active {
 opacity: 1;
 pointer-events: all;
}
 

.container .main-container .project input[type="submit"] {
  background-color: rgb(0, 58, 0);
}

.container .main-container .project .todo-form-container form  {
  background-color: inherit;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
}

.container .main-container .project .todo-form-container form input:focus {
  background-color: #f0f0f0;
  border: solid #89ddff;
}


.container .main-container .project .todo-form-container form input,
input:placeholder-shown {
    border: solid #E5E7EB 1px; /* Default gray border */
    /* height: 25px;
    width: 250px; */
    border-radius: 5px;
    padding-left: 15px;
} 

.container .main-container .project .todo-form-container form input:invalid:not(:placeholder-shown) {
  border: 1px solid red;
}

.container .main-container .project .todo-form-container form input:valid {
  border: solid green 2px;
} 



/* todos-display container styling */

.main-container .project .todo-display {
  background-color: bisque;
  border-radius: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: center;
  align-items: flex-start;
}
.main-container .project .todo-display h1,
.main-container .project .todo-display p {
  grid-column: 1;
}

.main-container .project .todo-display img {
  grid-row: 1;
  grid-column: 2;
  width: 30px;

}

.main-container .project .todo-display img:hover {
  cursor: pointer;
}